* {
    box-sizing: border-box;
    margin: 0px;
    outline: none;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
}

/* Extra small devices(phones) */
@media only screen and (max-width: 600px){
div.col-lg-4 {
    width: 100%;
}
}

/* Small devices (portrait tablets and large phones */
@media only screen and (min-width:600px){

}

/* Medium devices (Landscape tablets) */
@media only screen and (min-width: 768px) {

}

/* Large devices (Laptops and Desktops) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (Large laptops and Desktops */
@media only screen and (min-width: 1200px) {

}

header {
    height: 800px;
    background-color: grey;
}

header, main, section, nav {
    display: block;
}

.dropdown-menu:hover .dropdown-item {
    display: block;
}

.section-padding {
    padding: 0px 0px;
    margin-top: 10px;
}

.bg-gray {
    background: white
}

h6 {
    text-align: center;
    color: black;
}

img.bitch {
    margin: auto;
    display: block;
}
/* To style the cards more button external css */
 
div.panel {
    text-align: center;
    
}
footer {
    padding-top: 40px;
    color:black;
    box-sizing: border-box;
    
}

a.footer-links {
    text-decoration: none;
    color: black;
}

