/* General styling */
* {
    box-sizing: border-box;
    margin: 0px;
    outline: none;
    word-wrap: break-word;
    scroll-behavior: smooth;
}

/* Navbar and Header styling */
.navbar {
    position: sticky;
}

header {
    height: 800px;
    background-color: grey;
}

header, main, section, nav {
    display: block;
}

.dropdown-menu:hover .dropdown-item {
    display: block;
}

.section-padding {
    padding: 0px 0px;
    margin-top: 10px;
}

.section-head {
    padding-top: 10px;
    padding-bottom: 20px;
}

.bg-gray {
    background: grey;
}

hr{
    width: 40%;
    margin-left: auto; 
    margin-right: auto;
    border-top: 1.5px solid black;
}

h6 {
    text-align: center;
    color: black;
}

/* Cards styling */
/*To style the Read More button in the cards */
.card {
    height: 500px;
    
}

.serv-item {
    padding-top: 50px;
}

img.bitch {
    margin: auto;
    display: block;
    
}
/* services card heading */
.cardserv {
    padding-top: 20px;
    padding-bottom: 20px;
}

div.panel {
    text-align: center;  
}

 /* Footer styling */
footer {
    padding-top: 40px;
    color:black;
    box-sizing: border-box; 
}

a.footer-links {
    text-decoration: none;
    color: black;
}

.email {
left:50%;
display: block;
box-sizing: border-box;
width: 500px;
height: 500px;
color: black;
align: center;
}

