{% load static %}


<html>
    <head>
        <meta name="viewport" content="width=device-width, height= device-height, initial-scale=1.0">
        <meta name="author" content="Brian Gaturu kamau">
        <meta name="description" content="BreGat">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Fontawesome -->
        <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

        <!--Google fonts--> 
            <link href="https://fonts.googleapis.com/css?family=Trochut&display=swap" rel="stylesheet">

            <!-- External stylesheet-->
        <link href="{% static 'css/base.css' %}" rel="stylesheet">

        <!--Google icons-->
        

        <title>BreGat</title>

    </head>
    <body>

<header>
  <!--Navigation-->
          <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
              <a class="navbar-brand" style="letter-spacing: 3px" href="{% url 'home' %}" >Bre<small>Gat</small></a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}" style="font-weight: bold">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown active" data-hover="dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold">
                      Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'services' %}">Web Design</a>
                      <a class="dropdown-item" href="{% url 'services' %}">Apps Development</a>
                      <a class="dropdown-item" href="{% url 'services' %}">Desktop Apps</a>
                    </div>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link " href="{% url 'contact' %}" tabindex="-1" style="font-weight: bold">Contacts</a>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2 active-black" type="search" placeholder="Search" aria-label="Search" style="border-radius:8px;">
                  <button class="btn search-btn btn-outline-* my-2 my-sm-0" type="submit" style="">Search</button>
                </form>
              </div>
            </nav>

<!--Header Slider-->

    <div class="slider">
        <figure>
            <!-- TODO: add header images -->
            <!--<img class="header-img" src="{% static 'images/developing.jpg' %}" alt="">
            <img class="header-img" src="{% static 'images/appdevelopment.jpg' %}" alt="">
            <img class="header-img" src="{% static 'images/websitedevelopment.jpg' %}" alt="">
            <img class="header-img" src="{% static 'images/projectmanagement.jpg' %}" alt="">
            <img class="header-img" src="{% static 'images/developing.jpg' %}" alt="">-->
        </figure>

    </div>

      </header>
      <!--End Navigation-->

      </body>


 {% block content %}
 {% endblock content %}

    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4">

        <!-- Footer links -->
        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left mt-3 pb-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold ">About Us</h6>
                    <hr class="footer-hr">
                    <p>BREGAT IS A PRIVATELY OWNED WEB, SOFTWARE AND MOBILE DEVELOPMENT COMPANY.WE ARE AIMED AND FOCUSED AT PROVIDING OUR CLIENTS THE BEST, TAILORED AND LATEST TECHNOLOY SOLUTIONS</p>
                </div>

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid Column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold ">Technologies</h6>
                    <hr class="footer-hr">
                    <p>
                        <a href="">Django</a>
                    </p>
                    <p>
                        <a href="">Angular</a>
                    </p>
                    <p>
                        <a href="">Nodejs</a>
                    </p>
                    <p>
                        <a href="">Android</a>
                    </p>
                    <p>
                        <a href="">Flutter</a>
                    </p>
                </div>

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid Column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold ">Services</h6>
                    <hr class="footer-hr">
                    <p>
                        <a href="">Mobile Apps</a>
                    </p>
                    <p>
                        <a href="">Web Dev</a>
                    </p>
                    <p>
                        <a href="">Web Design</a>
                    </p>
                    <p>
                        <a href="">Content Writing</a>
                    </p>
                    <p>
                        <a href=""></a>
                    </p>
                </div>

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid Column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3" >
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
                    <hr class="footer-hr">
                    <p>
                        <i class="fas fa-home mr-3"></i>Nairobi Kenya
                    </p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i>brendangaturu
                    </p>
                    <p>
                        <i class="fas fa-phone mr-3"></i>+254797481128
                    </p>
                    <p>
                        <i></i>Nairobi Kenya
                    </p>
                </div>

            </div>

            <hr>
            <!-- Grid Row -->
            <div class="row d-flex align-items-center copyright">
                <div class="col-md-7 col-lg-8">
                    <!-- Copyright -->
                    <p class="text-center text-md-left">© 2019 Copyright:
                    <strong>BreGat</strong></p>
                </div>

                <div class="col-md-5 col-lg-4 ml-lg-0">

                    <!--Social buttins -->
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a class="btn-circle btn-floating btn-sm" style="padding:7px 12px;">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-circle btn-floating btn-sm">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-circle btn-floating btn-sm">
                                    <i class="fab fa-google-plus-g"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-circle btn-floating btn-sm">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </footer>

  
        <!-- jQuery, Popper.js, Bootsrap.js-->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

 </html>

