{% extends 'base.html' %}

{% block content %}
<div class="col-lg-8 col-md-8 col-sm-6 card serv-detail"><p style="margin:auto;">We understand the importance of having knowledge about a particular subject and we work on that accordingly.
     The contents that we write are written by the experts, who belong to a particular niche. 
     If a writer does not have any idea about the subject that he is working on, the content is going to be confusing and extremely difficult to decipher.
      Our writers have proper knowledge of telling a story and they also understand the structure and the grammar. 
      You can be assured that your requirement will be handled in the best possible manner by our team of content writers.</p></div>
      <div class="col-lg-4 col-md-4 col-sm-6 card serv">Content writing</div>
{% endblock content %}