{% extends 'base.html' %}
{% load static %}
<!--Navigation inherited from base template-->

{% block content %}
<!--TODO: Customise the services icons to match the theme color -->

<div class="main">
    <h1 class="services_heading">Key Areas of Expertise</h1>
    <hr/>
    <p style="text-align: center;">Enhance your business and gain online presence using our services</p>
    <ul class="cards">

        <li class="cards_item">
            <div class="card">
                <div class="card_image">
                    <img src="{% static 'images/creativedesign.png' %}" alt="">
                </div>
                <div class="card_content">
                    <h2 class="card_title">Creative Design </h2>
                    <p class="card_text">Our expertise meets your whims! We shape your thoughts with our work by designing a website, with excellent features. We are experts in creating smart ,trendy and groovy designs. </p>
                    <div class="panel">
                        <a href="" class="a_panel">Read More</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="cards_item">
            <div class="card">
                <div class="card_image">
                    <img src="{% static 'images/webdesign.png' %}" alt="">
                </div>
                <div class="card_content">
                    <h2 class="card_title">Web Design </h2>
                    <p class="card_text">Our professional designer experts have comprehensive experience in molding trendy and groovy designs for your websites with attractive features. We host you with best and powered web design services.</p>
                    <div class="panel">
                        <a href="" class="a_panel">Read More</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="cards_item">
            <div class="card">
                <div class="card_image">
                    <img src="{% static 'images/webdevelopment.png' %}" alt="">
                </div>
                <div class="card_content">
                    <h2 class="card_title">Web Development</h2>
                    <p class="card_text">Fresh and good designs are enough to get high regard from your clients. Moreover, our team of professionals has considerable experience ranging from simple websites to complex portals.</p>
                    <div class="panel">
                        <a href="" class="a_panel">Read More</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="cards_item">
            <div class="card">
                <div class="card_image">
                    <img src="{% static 'images/contentwriting.png' %}" alt="">
                </div>
                <div class="card_content">
                    <h2 class="card_title">Content Writing</h2>
                    <p class="card_text">High-quality content writing always plays a vital role in marketing lead generation and success. Many organizations depend upon content marketing for demand generation and brand building.</p>
                    <div class="panel">
                        <a href="" class="a_panel">Read More</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="cards_item">
            <div class="card">
                <div class="card_image">
                    <img src="{% static 'images/digitalmarketing.png' %}" alt="">
                </div>
                <div class="card_content">
                    <h2 class="card_title">Digital Marketing</h2>
                    <p class="card_text">Digital marketing is a medium of promoting your business and products using digital technologies, mainly on the Internet using different digital platforms, including digital sources.</p>
                    <div class="panel">
                        <a href="" class="a_panel">Read More</a>
                    </div>
                </div>
            </div>
        </li>

        <li class="cards_item">
            <div class="card">
                <div class="card_image">
                    <img src="{% static 'images/mobiledevelopment.png' %}" alt="">
                </div>
                <div class="card_content">
                    <h2 class="card_title">Mobile Development</h2>
                    <p class="card_text">Let your customers get your services at the palm of their hands. With our expertise and latest Technology , we build you cross platform mobile applications tailored to our clients specifications.</p>
                    <div class="panel">
                        <a href="" class="a_panel">Read More</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>


<!--

            <div class="col-lg-4  col-md-6 card"  >
              <div class="serv-item mb-30 serv1">
                <span class="icon card-img-top">
                    <img class="bitch" src="https://img.icons8.com/wired/64/000000/google-code.png" alt="">
                </span>
                <h6 class="cardserv">Creative Design Services</h6>
                <p>sjdksd sidsubd sdskd sdisoidn sdsion sdishodhi sidhaodna sdido asdhioaj sihdpod asdad sadhianoihsd hos oshdojsd oisdio</p>
                <div class="panel">
                  <a href="">Read More</a>
                </div>
              </div>
            </div>

            <div class="col-lg-4  col-md-6 card" >
                <div class="serv-item mb-30 serv2">
                  <span>
                    <img class="bitch" src="https://img.icons8.com/nolan/64/000000/google-code.png" alt="">
                    
                  </span>
                  <h6 class="cardserv">Web Design Services</h6>
                  <p>sjdksd sidsubd sdskd sdisoidn sdsion sdishodhi sidhaodna sdido asdhioaj sihdpod asdad sadhianoihsd hos oshdojsd oisdio</p>
                  <div class="panel">
                    <a href="">Read More</a>
                  </div>
                </div>
              </div>

              <div class="col-lg-4  col-md-6 card" >
                  <div class="serv-item mb-30 serv3">
                    <span class="icon">
                        <img class="bitch" src="https://img.icons8.com/material/64/000000/google-code.png" alt="">
                    </span>
                    <h6 class="cardserv">Web Development Services</h6>
                    <p>sjdksd sidsubd sdskd sdisoidn sdsion sdishodhi sidhaodna sdido asdhioaj sihdpod asdad sadhianoihsd hos oshdojsd oisdio</p>
                    <div class="panel">
                      <a href="">Read More</a>
                    </div>
                  </div>
                </div>

                <div class="col-lg-4  col-md-6 card">
                    <div class="serv-item mb-md30 serv4">
                      <span class="icon">
                          <img class="bitch" src="https://img.icons8.com/nolan/64/000000/google-blog-search.png" alt="">
                      </span>
                      <h6 class="cardserv">Content Writing</h6>
                      <p>sjdksd sidsubd sdskd sdisoidn sdsion sdishodhi sidhaodna sdido asdhioaj sihdpod asdad sadhianoihsd hos oshdojsd oisdio</p>
                      <div class="panel">
                        <a href="">Read More</a>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-4  col-md-6 card">
                      <div class="serv-item mb-sm30 serv5">
                        <span class="icon">
                            <img class="bitch" src="https://img.icons8.com/doodle/48/000000/google-mobile--v2.png" alt="">
                        </span>
                        <h6 class="cardserv">Digital Marketing</h6>
                        <p>sjdksd sidsubd sdskd sdisoidn sdsion sdishodhi sidhaodna sdido asdhioaj sihdpod asdad sadhianoihsd hos oshdojsd oisdio</p>
                        <div class="panel" >
                          <a href="">Read More</a>
                        </div>
                      </div>
                    </div>

                    <div class="col-lg-4  col-md-6 card">
                        <div class="serv-item serv6">
                          <span class="icon">
                              <img class="bitch" src="https://img.icons8.com/dotty/80/000000/ios-development.png" alt="">
                          </span>
                          <h6 class="cardserv">Mobile Development</h6>
                          <p>sjdksd sidsubd sdskd sdisoidn sdsion sdishodhi sidhaodna sdido asdhioaj sihdpod asdad sadhianoihsd hos oshdojsd oisdio</p>
                          <div class="panel">
                            <a href="">Read More</a>
                          </div>
                        </div>
                      </div>

-->





{% endblock content %}      

<!--Footer section inherited from base template -->

    