{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="col-lg-8 col-md-8 col-sm-6 card serv-detail"><p style="margin:auto">We can build native mobile apps on all the major platforms.
         Additionally, as experts at HTML5 mobile development, Appnovation can also build cross-platform mobile applications that will work on any device or platform.
          Companies and organizations choosing Appnovation for their custom mobile development needs can be assured that their final deliverable, no matter the technology it's built on, will be secure, scalable and sustainable in whatever environment it's hosted.

        Using an agile development methodology to deliver our mobile development projects, Appnovation’s expert mobile developers can create the right solutions that will meet your user, business, industry and/or vertical needs. 
        We offer a proven, highly flexible engagement model that starts with a comprehensive evaluation of your business and IT requirements to ensure that ultimately the right mobile solution will be delivered both quickly and cost-effectively, meeting your goals and deadlines.</p></div>
    <div class="col-lg-4 col-md-4 col-sm-6 card serv">Webdesign</div>

</div>

{% endblock content %}