{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

    <div class="col-lg-8 col-md-8 col-sm-6 card serv-detail"><p style="margin:auto">We offer affordable Web Design in Kenya.
         Online/web presence is the key thing in this technology era. Do you know that a well-designed website is your 24hrs sales person when you are asleep? 
         Well, your brand cannot be visible if the right approach is not used. From Classy, modern, interactive, mobile friendly, secure, easy to manage and professional websites, 
         our team is ready to begin your Online Presence Journey.
         Website Design and other web technologies are our specialty. We develop a whole range of products for companies & other organizations from simple websites
          to more complex e-commerce solutions and web applications.We work with you rather than for you.</p></div>
    <div class="col-lg-4 col-md-4 col-sm-6 card serv">Webdesign</div>

</div>

{% endblock content %}